plotly.graph_objects as go
pandas as pd
numpy as np
dash
dash_core_components as dcc
dash_html_components as html
dash.dependencies import Input, Output
pandas as pd
plotly.graph_objs as go
plotly.subplots import make_subplots
plotly import tools
plotly.express as px
skimage import io